@import '../_lib/water-dark2.css';

/* custom elements */
no-wrap {
	white-space:nowrap;
}
help-text {
	display:inline-block;
	width:1.5em;
	height:1.5em;
	text-align:center;
	line-height:1.5em;
	border-radius:50%;
	background:lightblue;
	font-weight:bold;
	cursor:pointer;
	position:relative;
}
help-text:hover:after,
help-text:active:after {
	content:attr(txt);
	display:block;
	width:8em;
	background:#ff9;
	padding:1rem;
	box-shadow:0 8px 16px -8px rgb(0 0 0 / 30%);
	text-align:left;
	position:absolute;
	top:2em;
	left:1em;
}
two-col,
three-col,
four-col {
    width:100%;
    display:flex;
    gap:2rem;
    flex-wrap:wrap;
    margin:1rem 0;
}
two-col > * {
    width:calc((100% - 2rem) / 2);
    background:#eee; /* optional */
}
three-col > * {
    width:calc((100% - 4rem) / 3);
    background:#eee; /* optional */
}
four-col > * {
    width:calc((100% - 6rem) / 4);
    background:#eee; /* optional */
}

body {
	max-width: initial;
}

i svg {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	fill: white;
	color: white;
}

input[type="radio"][name=datalang] {
	display:none;
}
input[type="radio"][name=datalang]+span {
	font-family: "Lucida Console", monospace;
	font-weight: 200;
	font-size: 80%;
}
input[type="radio"][name=datalang]:checked+span {
	background: #161f27;
	color: #ffbe85;
	border-radius: 3px;
}

*[contenteditable=true] {
	-webkit-user-modify: read-write-plaintext-only;
}

canvas, iframe {
  width: 100%;
}

canvas, iframe {
  width: 100%;
	border: none;
}

/*
https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css
https://cdn.jsdelivr.net/npm/water.css@2/out/water.css
https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css
https://unpkg.com/@picocss/pico@latest/css/pico.min.css
https://unpkg.com/chota@latest
https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css


:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-hover: #324759;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: svg-load('./assets/select-arrow.svg', fill: #efefef);
}

:root {
	--invalid:                 #943838;
	--spacing-gutter:               1rem;
}

figure {
	margin: 0;
}

/// moz ///

aside {
	/// width: 40%; ///
	padding-left: .5rem;
	margin-left: .5rem;
	float: right;
	box-shadow: inset 5px 0 5px -5px #29627e;
	font-style: italic;
}

/// from chota ///
del {
  color: var(--invalid);
}

/// from pico ///
nav {
	display: flex;
	justify-content: space-between;
}

nav a {
  display: block;
  margin: calc(var(--spacing-gutter) * -1) calc(var(--spacing-gutter) * -0.5);
  padding: var(--spacing-gutter) calc(var(--spacing-gutter) / 2);
  border-radius: var(--block-round);
  text-decoration: none;
}


*/
